@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  height: 40px;
  padding: 5px;
  width: 100vw;
  margin: 20px 0px 75px 0px;
  text-align: center;
  box-shadow: 0px 10px 15px -10px #3b5d78;
}

.navcontent {
  padding: 0px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.oltopnav {
  padding: 0;
  margin: 0;
  font-weight: 700;
  list-style-type: none;
}
.oltopnav a {
  color: #5a291a;
  text-decoration: none;
  display: block;
  height: 100%;
  padding-top: 6px;
}
.oltopnav li {
  float: left;
  font-size: 20px;
  height: 37px;
  width: 16vw;
  transition: all 0.3s ease-in-out;
}
.oltopnav li:hover {
  box-shadow: 0px 5px 25px -5px;
  border-radius: 8px;
}
.oltopnav li:hover ul {
  display: block;
}
.oltopnav li ul {
  list-style-type: none;
  height: 35px;
  display: none;
}
.oltopnav li ul li {
  position: relative;
  transition: all 0.3s ease-in-out;
  font-size: 0.8em;
}
.oltopnav li ul li:hover {
  box-shadow: 0px 5px 25px -5px;
  border-radius: 8px;
}
.oltopnav li ul li:hover a {
  text-decoration: underline;
}

body {
  margin: 0px;
  padding: 0px;
}

.mainsection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  overflow: visible;
  margin-bottom: 0px 0px 40px 0px;
}

.sectioncontentleft {
  width: 50vw;
  padding: 10px 10px 10px 100px;
  margin: 75px 0px;
}

.pictureone {
  width: 50vw;
  transition: all 0.3s ease-in-out;
}
.pictureone:hover {
  transform: scale(1.02);
}

.sectioncontentcenter {
  width: 100vw;
}
.sectioncontentcenter header {
  flex-basis: 100%;
}
.sectioncontentcenter .rounddiv {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0px 35px 0px 35px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}
.sectioncontentcenter .rounddiv:hover {
  box-shadow: 0px 4px 20px 3px #3b5d78;
  transform: scale(1.02);
}
.sectioncontentcenter .rounddiv .overlay {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.sectioncontentcenter .rounddiv .overlay:hover .background {
  opacity: 0.5;
}
.sectioncontentcenter .rounddiv .overlay:hover .label {
  opacity: 1;
}
.sectioncontentcenter .rounddiv .background {
  display: block;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  width: 300px;
  height: 75px;
  padding: 25px 0px 0px 0px;
  text-align: center;
  background-color: black;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}
.sectioncontentcenter .rounddiv .label {
  display: block;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  width: 300px;
  height: 75px;
  padding: 25px 0px 0px 0px;
  text-align: center;
  color: white;
}

.picturethree {
  width: 50vw;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.picturethree:hover {
  transform: scale(1.02);
}

.sectioncontentright {
  width: 50vw;
  padding: 10px 100px 10px 10px;
  margin: auto 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.sectioncontentright header {
  flex-basis: 100%;
  margin-bottom: 10px;
}
.sectioncontentright p {
  margin-bottom: 30px;
}
.sectioncontentright .rounddivsmall {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px 25px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}
.sectioncontentright .rounddivsmall:hover {
  box-shadow: 0px 4px 20px 3px #3b5d78;
  transform: scale(1.02);
  overflow: hidden;
}
.sectioncontentright .rounddivsmall .overlaysmall {
  position: relative;
  width: 100px;
  height: 100px;
}
.sectioncontentright .rounddivsmall .overlaysmall:hover .backgroundsmall {
  opacity: 0.5;
}
.sectioncontentright .rounddivsmall .overlaysmall:hover .labelsmall {
  opacity: 1;
}
.sectioncontentright .rounddivsmall .backgroundsmall {
  display: block;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  width: 100px;
  height: 25px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  opacity: 0;
  background-color: black;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}
.sectioncontentright .rounddivsmall .labelsmall {
  display: block;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  width: 100px;
  height: 25px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  opacity: 0;
  font-size: 14px;
  color: white;
  margin-bottom: 3px;
}

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #5a291a;
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
  text-align: center;
  color: #f5d1c3;
}
#footer a {
  text-decoration: none;
  color: #f5d1c3;
}

#socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  width: 550px;
  margin-bottom: 0px;
  font-size: 16px;
}
#socials .sbutton {
  width: 100px;
  height: 75px;
  margin: 15px 5px 5px 5px;
  padding: 15px 10px;
  transition: all 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}
#socials #fb:hover {
  color: #4668b3;
  text-shadow: 0px 0px 50px white;
}
#socials #inst:hover {
  color: #FCAF45;
  text-shadow: 0px 0px 50px white;
}
#socials #tw:hover {
  color: #3095d3;
  text-shadow: 0px 0px 50px white;
}
#socials #yt:hover {
  color: #c83237;
  text-shadow: 0px 0px 50px white;
}
#socials #gplus:hover {
  color: #d95333;
  text-shadow: 0px 0px 50px white;
}

#fcontentL {
  order: 2;
  width: 50%;
  height: 21px;
  text-justify: center;
}

#fcontentR {
  order: 1;
  width: 50%;
  height: 21px;
}

.ulfooter {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 21px;
  list-style-type: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}
.ulfooter li {
  padding-left: 10px;
  width: 100px;
  transition: all 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}
.ulfooter li:first-child {
  padding-left: 0px;
}
.ulfooter li a {
  text-decoration: none;
  display: block;
  height: 100%;
}
.ulfooter li:hover {
  /* text-shadow: 0px 0px 50px 5px white;  NIE MOŻNA NADAĆ 5PX GRUBOŚCI CIENIA DLA TEXT JAK W BOX-SHADOW? Chciałem aby kształt tła nie miał ostrych krawędzi tylko rozmywał się jak cień i całość była biała ale czego próbowałem to krawędzie były za ostre i prostokąt stawał się widoczny  */
  /* display: block; */
  box-shadow: 0px 0px 30px 5px white;
  border-radius: 8px;
  background-color: white;
}

html {
  background-color: #fdfdfd;
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
  color: black;
}

#logo {
  height: 100px;
  font-size: 76px;
  font-weight: 700;
  color: #5a291a;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 50px 0px 50px 0px;
}

/*# sourceMappingURL=output.css.map */
