* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$nav-font-color: #5a291a;
$nav-font-size: 20px;
$back-color: #fdfdfd;
$primary-font-color: black;
$secondary-color: #3b5d78;
$each-position-shadow:0px 5px 25px -5px;
$div-shadow:0px 4px 20px 3px $secondary-color;
$primary-radius:8px;
$home-sections-size: 400px;
$home-transform-scale:scale(1.02);
$footer-text-shadow:0px 0px 50px white;

$map-socials: ('fb', 'inst', 'tw', 'yt', 'gplus');
$map-socials-colors: ("fb":#4668b3, "inst": #FCAF45, "tw": #3095d3, "yt":#c83237, "gplus":#d95333);


@mixin primary-transition($feature: all) {
    transition: $feature 0.3s ease-in-out;
}

@mixin home-transition($feature: all) {
    transition: $feature 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}

@mixin flex($row, $justify, $align) {
    display: flex;
    flex-flow: $row wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin center-div {
    margin-left: auto;
    margin-right: auto;
}

@mixin round-div($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin overlay($width, $height, $type) {
    @if $type=="small" {
        display: block;
        position: absolute;
        bottom: 0px;
        opacity: 0;
        width: $width;
        height: $height;
        padding: 5px 0px 0px 0px;
        text-align: center;
    }

    @else {
        display: block;
        position: absolute;
        bottom: 0px;
        opacity: 0;
        width: $width;
        height: $height;
        padding: 25px 0px 0px 0px;
        text-align: center;
    }
}

@mixin nav-a {
    color: $nav-font-color;
    text-decoration: none;
    display: block;
    height: 100%;
    padding-top: 6px;
}