* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$nav-font-color: #5a291a;
$nav-font-size: 20px;
$back-color: #fdfdfd;
$primary-font-color: black;
$secondary-color: #3b5d78;
$each-position-shadow:0px 5px 25px -5PX $secondary-color;
$primary-radius:8px;

@mixin primary-transition($feature: all) {
    transition: $feature 0.3s ease-in-out;
}

@mixin center-div {
    margin-left: auto;
    margin-right: auto;
}

@mixin nav-a {
    color: $nav-font-color;
    text-decoration: none;
    display: block;
    height: 100%;
    padding-top: 6px;
}