body {
    margin: 0px;
    padding: 0px;
}

.mainsection {
    @include flex(row, center, center);
    width: 100vw;
    height: 400px;
    // border: 1px dashed black;
    overflow: visible;
    margin-bottom: 0px 0px 40px 0px;
}

.pictureone {
    width: 50vw;
    transition: transform 0.5s ease-in-out;
    // align-self: end;

    &:hover {
        transform: scale(1.015);
    }
}

.sectioncontentleft {
    width: 50vw;
    padding: 10px 10px 10px 100px;
    margin: 75px 0px;
}

.sectioncontentcenter {
    width: 100vw;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 10px 5px;

    h1 {
        flex-grow: 4;
    }
}

.rounddiv {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0px 35px 0px 35px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0, 0, 0.49, 1.06);
}

.rounddiv:hover {
    box-shadow: 0px 4px 20px 3px #3b5d78;
    transform: scale(1.02);
    overflow: hidden;
}

.overlay {
    float: left;
    position: relative;
    width: 300px;
    height: 300px;
}

.background {
    display: block;
    position: absolute;
    width: 300px;
    height: 75px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 25px 0px 0px 0px;
    text-align-last: center;
    opacity: 0;
    background-color: black;
    transition: opacity 0.4s cubic-bezier(0, 0, 0.49, 1.06);
}

.desc {
    display: block;
    position: absolute;
    width: 300px;
    height: 75px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 25px 0px 0px 0px;
    text-align-last: center;
    opacity: 0;
    color: white;
}

.overlay:hover .background {
    opacity: 0.5;
}

.overlay:hover .desc {
    opacity: 1;
}

.sectioncontentright {
    float: right;
    padding: 10px 100px 10px 10px;
    margin: 75px 5px 60px 5px;
    width: 50%;
}

.rounddivsmall {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 25px 0px 25px;
    overflow: hidden;
    border: 1px dotted black;
    transition: all 0.3s cubic-bezier(0, 0, 0.49, 1.06);

}

.rounddivsmall:hover {
    box-shadow: 0px 4px 20px 3px #3b5d78;
    transform: scale(1.02);
    overflow: hidden;
}

.backgroundsmall {
    display: block;
    position: absolute;
    width: 100px;
    height: 25px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    text-align-last: center;
    opacity: 0;
    background-color: black;
    transition: opacity 0.4s cubic-bezier(0, 0, 0.49, 1.06);
}

.descsmall {
    display: block;
    position: absolute;
    width: 100px;
    height: 25px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    text-align-last: center;
    opacity: 0;
    font-size: 14px;
    color: white;
}

.overlaysmall {
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
}

.overlaysmall:hover .backgroundsmall {
    opacity: 0.5;
}

.overlaysmall:hover .descsmall {
    opacity: 1;
}

.three {
    float: left;
    width: 620px;
    transition: all 0.5s ease-in-out;
}

.three:hover {
    transform: scale(1.02);
}

p {
    text-align: justify;
}