body {
    margin: 0px;
    padding: 0px;
}

.mainsection {
    @include flex(row, center, center);
    width: 100vw;
    height: $home-sections-size;
    // border: 1px dashed black;
    overflow: visible;
    margin-bottom: 0px 0px 40px 0px;
}

.sectioncontentleft {
    width: 50vw;
    padding: 10px 10px 10px 100px;
    margin: 75px 0px;
}

.pictureone {
    width: 50vw;
    @include primary-transition();
    // align-self: end;

    &:hover {
        transform: $home-transform-scale;
    }
}

.sectioncontentcenter {
    width: 100vw;

    header {
        flex-basis: 100%;
    }

    .rounddiv {
        @include round-div(300px);
        margin: 0px 35px 0px 35px;
        overflow: hidden;
        @include home-transition();

        &:hover {
            box-shadow: $div-shadow;
            transform: $home-transform-scale;
        }

        .overlay {
            position: relative;
            @include round-div(300px);

            &:hover {
                .background {
                    opacity: 0.5;
                }

                .label {
                    opacity: 1;
                }
            }
        }

        .background {
            @include overlay(300px, 75px);
            background-color: black;
            @include home-transition(opacity);
        }

        .label {
            @include overlay(300px, 75px);
            color: white;
        }
    }
}



.sectioncontentright {
    float: right;
    padding: 10px 100px 10px 10px;
    margin: 75px 5px 60px 5px;
    width: 50%;
}

.rounddivsmall {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 25px 0px 25px;
    overflow: hidden;
    border: 1px dotted black;
    @include home-transition();

}

.rounddivsmall:hover {
    box-shadow: $div-shadow;
    transform: $home-transform-scale;
    overflow: hidden;
}

.backgroundsmall {
    display: block;
    position: absolute;
    width: 100px;
    height: 25px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    text-align-last: center;
    opacity: 0;
    background-color: black;
    @include home-transition(opacity);
}

.labelsmall {
    display: block;
    position: absolute;
    width: 100px;
    height: 25px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    text-align-last: center;
    opacity: 0;
    font-size: 14px;
    color: white;
}

.overlaysmall {
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
}

.overlaysmall:hover .backgroundsmall {
    opacity: 0.5;
}

.overlaysmall:hover .labelsmall {
    opacity: 1;
}

.three {
    float: left;
    width: 620px;
    @include primary-transition(all);
}

.three:hover {
    transform: $home-transform-scale;
}

p {
    text-align: justify;
}