body {
    margin: 0px;
    padding: 0px;
}

.mainsection {
    @include flex(row, center, center);
    width: 100vw;
    height: $home-sections-size;
    overflow: visible;
    margin-bottom: 0px 0px 40px 0px;
}

.sectioncontentleft {
    width: 50vw;
    padding: 10px 10px 10px 100px;
    margin: 75px 0px;

    h1 {
        margin-bottom: 15px;
    }
}

.pictureone {
    @include flex(row, flex-end, center);
    width: 50vw;
    @include primary-transition();

    &:hover {
        transform: $home-transform-scale;
    }
}

.sectioncontentcenter {
    width: 100vw;

    header {
        flex-basis: 100%;
    }

    .rounddiv {
        @include round-div(300px);
        margin: 0px 35px 0px 35px;
        overflow: hidden;
        @include home-transition();

        &:hover {
            box-shadow: $div-shadow;
            transform: $home-transform-scale;
        }

        .overlay {
            position: relative;
            @include round-div(300px);

            &:hover {
                .background {
                    opacity: 0.5;
                }

                .label {
                    opacity: 1;
                }
            }
        }

        .background {
            @include overlay(300px, 75px, normal);
            background-color: black;
            @include home-transition(opacity);
        }

        .label {
            @include overlay(300px, 75px, normal);
            color: white;
        }
    }
}

.picturethree {
    @include flex(row, flex-start, center);
    width: 50%;
    height: 100%;
    @include primary-transition(all);

    &:hover {
        transform: $home-transform-scale;
    }
}

.sectioncontentright {
    width: 50%;
    height: 100%;
    padding: 10px 100px 10px 10px;
    margin: auto 0px;
    @include flex (row, center, flex-start);

    h1 {
        margin-top: 50px;
        flex-basis: 100%;
        // margin-bottom: 10px;
    }

    // p {
    //     margin-bottom: 10px;
    // }

    .rounddivsmall {
        @include round-div(100px);
        margin: 0px 25px;
        overflow: hidden;
        @include home-transition();

        &:hover {
            box-shadow: $div-shadow;
            transform: $home-transform-scale;
            overflow: hidden;
        }

        .overlaysmall {
            position: relative;
            width: 100px;
            height: 100px;

            &:hover {
                .backgroundsmall {
                    opacity: 0.5;
                }

                .labelsmall {
                    opacity: 1;
                }
            }
        }

        .backgroundsmall {
            @include overlay(100px, 25px, small);
            opacity: 0;
            background-color: black;
            @include home-transition(opacity);
        }

        .labelsmall {
            @include overlay(100px, 25px, small);
            opacity: 0;
            font-size: 14px;
            color: white;
            margin-bottom: 3px;
        }
    }
}