#footer {
    @include flex(row, center, center);
    background-color: $nav-font-color;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    text-align: center;
    color: #f5d1c3;

    a {
        text-decoration: none;
        color: #f5d1c3;
    }
}

#socials {
    @include flex(row, center, center);
    flex-basis: 100%;
    width: 550px;
    margin-bottom: 0px;
    font-size: 16px;

    .sbutton {
        width: 100px;
        height: 75px;
        margin: 15px 5px 5px 5px;
        padding: 15px 10px;
        @include home-transition();

    }

    #fb:hover {
        color: #4668b3;
        text-shadow: $footer-text-shadow;
    }

    #inst:hover {
        color: #FCAF45;
        text-shadow: $footer-text-shadow;
    }

    #tw:hover {
        color: #3095d3;
        text-shadow: $footer-text-shadow;
    }

    #yt:hover {
        color: #c83237;
        text-shadow: $footer-text-shadow;
    }

    #gplus:hover {
        color: #d95333;
        text-shadow: $footer-text-shadow;
    }
}

#fcontentL {
    order: 2;
    width: 50%;
    height: 21px;
    text-justify: center;
}

#fcontentR {
    order: 1;
    width: 50%;
    height: 21px;
}

.ulfooter {
    @include center-div;
    @include flex(row, center, center);
    height: 21px;
    list-style-type: none;
    @include home-transition();

    li {
        padding-left: 10px;
        width: 100px;
        @include home-transition();


        &:first-child {
            padding-left: 0px;
        }

        a {
            text-decoration: none;
            display: block;
            height: 100%;
        }

        &:hover {

            /* text-shadow: 0px 0px 50px 5px white;  NIE MOŻNA NADAĆ 5PX GRUBOŚCI CIENIA DLA TEXT JAK W BOX-SHADOW? Chciałem aby kształt tła nie miał ostrych krawędzi tylko rozmywał się jak cień i całość była biała ale czego próbowałem to krawędzie były za ostre i prostokąt stawał się widoczny  */
            /* display: block; */
            box-shadow: 0px 0px 30px 5px white;
            border-radius: $primary-radius;
            background-color: white;
        }
    }
}