#nav {
    height: 40px;
    padding: 5px;
    width: 100%;
    margin: 20px 0px 75px 0px;
    text-align: center;
    box-shadow: 0px 10px 15px -10px $secondary-color;
}

.navcontent {
    padding: 0px;
    width: 1000px;
    @include center-div;
}

.oltopnav {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    list-style-type: none;

}

.oltopnav>li {
    float: left;
    font-size: 18px;
    height: 37px;
    width: 200px;
    transition: box-shadow 0.3s ease-in-out;
}

.oltopnav>li a {
    color: #5a291a;
    text-decoration: none;
    display: block;
    height: 100%;
    padding-top: 6px;

}

.oltopnav>li:hover {
    color: #5a291a;
    box-shadow: 0px 5px 25px -5PX #3b5d78;
    border-radius: 8px;
    display: block;
}

.oltopnav>li>ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 35px;
    display: none;
    transition: all;
}

.oltopnav>li:hover>ul {
    display: block;
}

.oltopnav>li>ul>li {
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}

.oltopnav>li>ul>li a {
    color: #5a291a;
}

.oltopnav>li>ul>li:hover {
    box-shadow: 0px 4px 23px -6PX #3b5d78;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.oltopnav>li>ul>li:hover>a {
    text-decoration: underline;
    color: #5a291a;
}