#nav {
    height: 40px;
    padding: 5px;
    width: 100vw;
    margin: 20px 0px 75px 0px;
    text-align: center;
    box-shadow: 0px 10px 15px -10px $secondary-color;
}

.navcontent {
    padding: 0px;
    width: 80vw;
    @include center-div;
    @include flex(row, center, center);
}

.oltopnav {

    padding: 0;
    margin: 0;
    font-weight: 700;
    list-style-type: none;

    .current-page {
        color: $font-color-current
    }

    a {
        @include nav-a;

    }

    li {
        float: left;
        font-size: $nav-font-size;
        height: 37px;
        width: 10vw;
        color: $nav-font-color;
        cursor: default;
        @include primary-transition();

        &:hover {
            box-shadow: $each-position-shadow;
            border-radius: $primary-radius;

            ul {
                @include flex(column, center, center);
            }
        }

        ul {
            list-style-type: none;
            // height: 35px;
            display: none;
            padding-top: 15px;

            li {
                position: relative;
                @include primary-transition();
                font-size: 0.8em;
                // width: auto;

                &:hover {
                    box-shadow: $each-position-shadow;
                    border-radius: $primary-radius;

                    a {
                        text-decoration: underline;
                        color: $nav-font-color;
                    }
                }
            }
        }
    }
}