h1 {
    color: $nav-font-color;
}


.formcontainer {
    border: 1px solid #000;
    width: 80vw;
    height: 80vh;
    @include center-div;
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
    align-items: center;
    justify-items: center;

    input {
        border: none;
        box-shadow: $div-shadow;
        border-radius: $primary-radius;
        height: 1.5em;
        text-align: center;

        &::placeholder {
            padding-left: 5px;
            font-style: 'Balsamiq Sans';
        }
    }

    textarea {
        grid-column: 1 / span 12;
        grid-row: 6 / span 2;
    }
}